In [1]:
import pandas as pd
import pandasai as pai
import os
os.chdir("..")  # move up one level: notebooks â†’ project root
from src.tools import load_pandas_ai_dataframe
import re
import json

In [2]:
df = pd.read_csv("/home/zcemg08/PycharmProjects/AI_DUBAI_CRYPTO_CLOUD/data/catboost_districts_added_on_v2.csv")

In [3]:
df["added_on"] = (
    pd.to_datetime(df["added_on"].astype(str).str.strip().str.replace('"', ''), errors="coerce")
    .dt.date
)

# Fill any missing dates with previous valid one
df["added_on"].fillna(method="ffill", inplace=True)

# Optional sanity check
df["listing_update_date"] = (
    pd.to_datetime(df["listing_update_date"].astype(str).str.strip().str.replace('"', ''), errors="coerce")
    .dt.date
)

df["listing_update_date"].fillna(method="ffill", inplace=True)

/tmp/ipykernel_14185/3874194656.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["added_on"].fillna(method="ffill", inplace=True)
/tmp/ipykernel_14185/3874194656.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["added_on"].fillna(method="ffill", inplace=True)
/tmp/ipykernel_14185/3874194656.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["listing_update_date"].fillna(method="ffill", inplace=True)
/tmp/ipykernel_14185/3874194656.py:15: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["listing_update_date"].fillna(method="ffill", inplace=True)

In [4]:
df.to_csv("/home/zcemg08/PycharmProjects/AI_DUBAI_CRYPTO_CLOUD/data/catboost_districts_added_on_v2.csv", index=False, date_format="%Y-%m-%d")

In [16]:
df[df["added_on"].isna()]

,Unnamed: 0.1,Unnamed: 0,id,title,display_address,postcode_outcode,postcode_incode,bathrooms,bedrooms,property_type,...,borough,travel_zone,distance_to_center_km,spatial_index,noise_level_class,zone_hex,description,predicted_price,pricing_index,district
77,77,77,156483998,4 bedroom end of terrace house for rent in Bru...,"Brunswick Quay, London",SE16,7PY,2,4,End of Terrace,...,Southwark,2,3.776777,9060.0,no_data,Zone 2,A fantastic four bedroom house situated on Bru...,3285.481559,1.027247,Surrey Docks
155,155,155,155925257,1 bedroom apartment for rent in White City Liv...,"White City Living, London, W12",W12,7RF,1,1,Apartment,...,Hammersmith and Fulham,2,4.417297,4504.0,no_data,Zone 2,"Located in the vibrant area of White City, thi...",2719.059620,1.103323,Shepherd's Bush Green
247,247,247,156570212,"2 bedroom flat for rent in Brewhouse Lane, Lon...","Brewhouse Lane, London",SW15,2JQ,2,2,Flat,...,Wandsworth,2,4.690305,10134.0,high,Zone 2,A stunning two-bedroom apartment situated on t...,2884.975921,1.126526,Thamesfield
351,351,351,154078253,1 bedroom flat for rent in Pinnacle Apartments...,"Pinnacle Apartments, Croydon, CR0",CR0,2GH,1,1,Flat,...,Croydon,5,8.952579,16354.0,high,Zone 5,Property Reference: 2268272.AVAILABLE NOW! NEW...,1464.256129,1.058558,Fairfield
383,383,383,155937026,"3 bedroom flat for rent in Salisbury Pavement,...","Salisbury Pavement, Fulham, London, SW6",SW6,7HT,2,3,Flat,...,Hammersmith and Fulham,2,3.910447,4094.0,medium-high,Zone 2,"LONG LET. Situated on the top floor, this spac...",3751.581987,0.866301,Munster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28287,28287,28287,155667338,2 bedroom apartment for rent in Cockfosters Ro...,"Cockfosters Road, Hadley Wood, Hertfordshire, EN4",EN4,0JS,2,2,Apartment,...,Enfield,6,10.910973,1299.0,high,Zone 6,This beautiful 861 sqft two bedroom two bathro...,3377.530744,0.886742,Cockfosters
28331,28331,28331,155890349,3 bedroom terraced house for rent in Southcrof...,"Southcroft Road, Furzedown, London, SW16",SW16,6QT,1,3,Terraced,...,Wandsworth,3,6.083977,18591.0,no_data,Zone 3,LONG LET. This wonderful three bedroom period ...,2416.796791,0.951673,Furzedown
28401,28401,28401,156069392,"1 bedroom apartment for rent in Irene House, 2...","Irene House, 218 Balham High Road, London, SW12",SW12,9BF,1,1,Apartment,...,Wandsworth,3,4.470198,22677.0,no_data,Zone 3,This stunning studio apartment finished to the...,2050.294962,0.902309,Balham
28411,28411,28411,156647570,"2 bedroom apartment for rent in The Compton, 3...","The Compton, 30, Lodge Road, St John's Wood, L...",NW8,7ES,2,2,Apartment,...,Westminster,2,2.346338,19828.0,high,Zone 2,"Stunning two double bedroom, two bathroom apar...",5190.602474,1.001810,Regent's Park
28448,28448,28448,156541577,"2 bedroom flat for rent in Minster Road, West ...","Minster Road, West Hampstead, NW2",NW2,3SD,1,2,Flat,...,Camden,2,4.607175,8507.0,medium,Zone 2,"Stunning, newly refurbished, two bedroom, spli...",2728.025188,1.191338,Fortune Green

In [3]:
df["added_on"] = pd.to_datetime(df["added_on"], errors="coerce")
df["listing_update_date"] = pd.to_datetime(df["listing_update_date"], errors="coerce")

In [5]:
df["listing_update_date"].dtype

dtype('O')

In [6]:
df["added_on"].dtype

dtype('O')

In [6]:
df.to_csv("/home/zcemg08/PycharmProjects/AI_DUBAI_CRYPTO_CLOUD/data/catboost_districts_added_on_v2.csv", index=False, date_format="%Y-%m-%d")

In [7]:
df["added_on"].value_counts()

added_on
2025-01-03    1569
2025-01-02    1565
2024-12-28    1028
2024-12-17     679
2024-12-10     663
              ...
2018-04-11       1
2023-08-11       1
2023-06-17       1
2024-05-27       1
2023-06-30       1
Name: count, Length: 543, dtype: int64

In [8]:
df["added_on"].dtype

dtype('<M8[ns]')

In [24]:
print(df["added_on"].head())
print(df["added_on"].dtypes)

0   2024-12-30
1   2024-12-31
2   2024-11-20
3   2024-12-12
4   2024-12-10
Name: added_on, dtype: datetime64[ns]
datetime64[ns]

In [25]:
df["listing_update_date"] = pd.to_datetime(df["listing_update_date"], errors="coerce")

In [26]:
df["listing_update_date"].value_counts()

listing_update_date
2025-01-02    1680
2025-01-03    1628
2025-01-06     742
2024-12-17     679
2024-12-10     664
              ...
2023-11-29       1
2018-04-11       1
2023-08-11       1
2023-06-17       1
2023-06-30       1
Name: count, Length: 546, dtype: int64

In [27]:
df.to_csv("/home/zcemg08/PycharmProjects/AI_DUBAI_CRYPTO_CLOUD/data/catboost_districts_added_on_v2.csv")

In [4]:
df[df["district"] == "Limehouse"]

,Unnamed: 0,id,title,display_address,postcode_outcode,postcode_incode,bathrooms,bedrooms,property_type,price_gbp,...,borough,travel_zone,distance_to_center_km,spatial_index,noise_level_class,zone_hex,description,predicted_price,pricing_index,district
322,322,154604651,"2 bedroom flat for rent in Old Sun Wharf, 40 N...","Old Sun Wharf, 40 Narrow Street, E14",E14,8DG,2,2,Flat,2500,...,Tower Hamlets,2,3.818035,11518.0,high,Zone 2,"Welcome to your new home at Old Sun Wharf, Lon...",2624.606868,0.952524,Limehouse
3883,3883,156401795,1 bedroom apartment for rent in Limehouse Basi...,"Limehouse Basin, E14",E14,7JT,1,1,Apartment,1950,...,Tower Hamlets,2,3.834688,26054.0,high,Zone 2,"On offer is a well-appointed, larger than aver...",1895.313719,1.028853,Limehouse
4659,4659,155254349,"2 bedroom flat for rent in Victoria Wharf, Lim...","Victoria Wharf, Limehouse, London, E14",E14,8DD,2,2,Flat,2990,...,Tower Hamlets,2,3.915185,26887.0,low,Zone 2,Property reference number: 23563Please quote t...,2833.371823,1.055280,Limehouse
4715,4715,153431048,"3 bedroom flat for rent in Bethlehem House, Lo...","Bethlehem House, London, E14",E14,8AG,1,3,Flat,2800,...,Tower Hamlets,2,4.268468,21407.0,medium,Zone 2,Property Reference: 2211966.WeÂ have a spacious...,2690.489063,1.040703,Limehouse
4822,4822,152293322,3 bedroom apartment for rent in Barleycorn Way...,"Barleycorn Way, Canary Wharf, London, E14",E14,8DE,1,3,Apartment,2750,...,Tower Hamlets,2,4.183348,21407.0,medium,Zone 2,Open Plan Modern Apartment - Allocated Parking...,3334.359637,0.824746,Limehouse
5359,5359,155220746,"2 bedroom apartment for rent in Berglen Court,...","Berglen Court, 7 Branch Road, London, E14",E14,7JX,2,2,Apartment,2650,...,Tower Hamlets,2,3.837902,26054.0,high,Zone 2,Fantastic opportunity to rent a 2 bedroom apar...,2619.041185,1.011821,Limehouse
5554,5554,155594372,"2 bedroom flat for rent in Victoria Wharf, \n4...","Victoria Wharf, \n46 Narrow Street, E14",E14,8DD,2,2,Flat,2999,...,Tower Hamlets,2,3.920928,26887.0,low,Zone 2,A charming two bedroom apartment on the very d...,2846.044122,1.053743,Limehouse
5619,5619,153968972,"1 bedroom flat for rent in Commercial Road, Lo...","Commercial Road, London, E14",E14,7JR,1,1,Flat,1995,...,Tower Hamlets,2,3.885486,24790.0,medium-high,Zone 2,Property Reference: 2264582.This is a Great 1 ...,1941.038321,1.027800,Limehouse
6003,6003,156309074,"2 bedroom flat for rent in Branch Road, London...","Branch Road, London, E14",E14,7JX,2,2,Flat,2600,...,Tower Hamlets,2,3.841929,26054.0,high,Zone 2,Property Reference: 2280692.Incredible views o...,2731.747871,0.951772,Limehouse
6850,6850,156204470,"1 bedroom apartment for rent in Medland House,...","Medland House, Branch Road, London, E14",E14,7JT,1,1,Apartment,2300,...,Tower Hamlets,2,3.831007,26054.0,high,Zone 2,This beautifully presented furnished one bedro...,1903.234375,1.208469,Limehouse
6873,6873,106988477,2 bedroom flat for rent in Medland House Branc...,Medland House Branch Road Limehouse,E14,7JT,2,2,Flat,2349,...,Tower Hamlets,2,3.860804,26887.0,low,Zone 2,The remarkably large living room has wooden fl...,2678.061458,0.877127,Limehouse
7059,7059,155626544,"1 bedroom flat for rent in Narrow Street, Lime...","Narrow Street, Limehouse, London, E14",E14,8DW,1,1,Flat,1950,...,Tower Hamlets,2,3.796925,11518.0,high,Zone 2,LONG LET. This fantastic 1 bedroom flat has a ...,1794.588579,1.086600,Limehouse
7305,7305,155221598,"1 bedroom flat for rent in Compass Point, Dock...","Compass Point, Docklands, London, E14",E14,8HL,1,1,Flat,3000,...,Tower Hamlets,2,4.317707,10424.0,high,Zone 2,"SHORT LET. Situated close to amenities, this e...",2945.287457,1.018576,Limehouse
7337,7337,156354350,"2 bedroom flat for rent in Adriatic Building, ...","Adriatic Building, London, E14",E14,8DN,1,2,Flat,2167,...,Tower Hamlets,2,3.833095,26887.0,low,Zone 2,Property Reference: 2336107.Situated within th...,2363.480750,0.916868,Limehouse
8452,8452,154566170,1 bedroom flat share for rent in West India Do...,"West India Dock Road, Uk, E14",E14,8HB,1,1,Flat Share,900,...,Tower Hamlets,2,4.333887,10424.0,high,Zone 2,Property Reference: 2258059.Extra-Large Double...,949.157299,0.948210,Limehouse
8516,8516,154931312,4 bedroom apartment for rent in Trinidad House...,"Trinidad House, Gill Street, London, E14",E14,8AF,1,4,Apartment,2500,...,Tower Hamlets,2,4.275212,21407.0,medium,Zone 2,"Four Bedroom Flat to Rent - Westferry, E14Rent...",3032.011070,0.824535,Limehouse
8552,8552,129235667,"3 bedroom house for rent in Milligan Street, L...","Milligan Street, London, E14",E14,8AT,3,3,House,3250,...,Tower Hamlets,2,4.259671,21407.0,medium,Zone 2,Nathan Andrews Estates are pleased to present ...,4202.203366,0.773404,Limehouse
8866,8866,155921792,"2 bedroom apartment for rent in Queens Court, ...","Queens Court, Limehouse, E14",E14,8BT,2,2,Apartment,2650,...,Tower Hamlets,2,4.047762,8776.0,no_data,Zone 2,A bright and spacious two double bedroom two b...,2783.455132,0.952054,Limehouse
9193,9193,154279514,"1 bedroom flat for rent in Commercial Road, Lo...","Commercial Road, London, E14",E14,7JR,1,1,Flat,1880,...,Tower Hamlets,2,3.890444,24790.0,medium-high,Zone 2,Property Reference: 2274109.Beautiful 1 bedroo...,1925.456164,0.976392,Limehouse
9252,9252,155630426,"2 bedroom flat for rent in Victoria Wharf, Nar...","Victoria Wharf, Narrow Street, Limehouse, Lond...",E14,8DD,2,2,Flat,2999,...,Tower Hamlets,2,3.916044,26887.0,low,Zone 2,Knight Frank are pleased to offer this 6th flo...,2827.211868,1.060762,Limehouse
9856,9856,155603141,2 bedroom apartment for rent in Old Sun Wharf ...,Old Sun Wharf Narrow Street Limehouse E14,E14,8DG,2,2,Apartment,2899,...,Tower Hamlets,2,3.817901,11518.0,high,Zone 2,This warm two bedroom home spans over three fl...,2770.829334,1.046257,Limehouse
10141,10141,154954064,"2 bedroom flat for rent in Three colt Street, ...","Three colt Street, Limehouse, E14",E14,8AP,1,2,Flat,2500,...,Tower Hamlets,2,4.220649,21407.0,medium,Zone 2,We are pleased to offer this brand two bedroom...,2584.231560,0.967406,Limehouse
10181,10181,90878284,"2 bedroom flat for rent in Dundee Wharf, 100 T...","Dundee Wharf, 100 Three Colt Street, London, E14",E14,8AY,2,2,Flat,2400,...,Tower Hamlets,2,4.140615,4018.0,no_data,Zone 2,"Rare to the market, this penthouse floor (6th)...",3021.432348,0.794325,Limehouse
10324,10324,155480054,"2 bedroom apartment for rent in Colt Street, L...","Colt Street, London, E14",E14,8AP,1,2,Apartment,2500,...,Tower Hamlets,2,4.235004,21407.0,medium,Zone 2,A stunning two-bedroom property with its very ...,2708.200434,0.923122,Limehouse
10693,10693,156416540,2 bedroom apartment for rent in Commercial Roa...,"Commercial Road, E14",E14,7JR,2,2,Apartment,2425,...,Tower Hamlets,2,3.903225,24790.0,medium-high,Zone 2,Hurford Salvi Carr are favoured as sole agents...,2690.064126,0.901465,Limehouse
10722,10722,156399428,"2 bedroom apartment for rent in Salter Street,...","Salter Street, LONDON",E14,8FU,1,2,Apartment,3000,...,Tower Hamlets,2,4.352870,10424.0,high,Zone 2,**Zero Deposit Guarantee Available**Holding De...,2818.197142,1.064510,Limehouse
11529,11529,152986664,"1 bedroom flat for rent in Basin Approach, Can...","Basin Approach, Canary Wharf, London, E14",E14,7JG,1,1,Flat,2100,...,Tower Hamlets,2,4.029245,9098.0,medium-high,Zone 2,LONG LET. Located within an impressive develop...,1834.201928,1.144912,Limehouse
11837,11837,155783546,"1 bedroom flat for rent in Vetro Court, 6 Salt...","Vetro Court, 6 Salter Street, London",E14,8BH,1,1,Flat,2600,...,Tower Hamlets,2,4.349344,10424.0,high,Zone 2,A ONE BEDROOM APARTMENT FOR RENT WITH SPACIOUS...,2445.198706,1.063308,Limehouse
11961,11961,155776937,"2 bedroom flat for rent in Grenade Street, E14","Grenade Street, E14",E14,8HX,2,2,Flat,2499,...,Tower Hamlets,2,4.328823,10424.0,high,Zone 2,"A beautifully refurbished top-floor 2-bedroom,...",2935.468179,0.851312,Limehouse
12415,12415,155086649,"2 bedroom flat for rent in Narrow Street, E14,...","Narrow Street, E14, Canary Wharf, London, E14",E14,8BU,2,2,Flat,3500,...,Tower Hamlets,2,4.090412,4018.0,no_data,Zone 2,SHORT LET. Spacious 2-bed flat with two double...,3689.464377,0.948647,Limehouse
12946,12946,154140827,2 bedroom apartment for rent in The Watergarde...,"The Watergardens, E14",E14,8BY,1,2,Apartment,2300,...,Tower Hamlets,2,4.014514,8776.0,no_data,Zone 2,Hurford Salvi Carr are favoured to market this...,2256.577077,1.019243,Limehouse
13056,13056,155375138,"2 bedroom flat for rent in Narrow Street, Lime...","Narrow Street, Limehouse",E14,8DP,2,2,Flat,2448,...,Tower Hamlets,2,3.781559,11518.0,high,Zone 2,Ea2 are pleased to offer for let this generous...,2764.568673,0.885491,Limehouse
13945,13945,124914638,"2 bedroom flat for rent in Dundee Wharf, 100 T...","Dundee Wharf, 100 Three Colt Street, London, E14",E14,8AY,2,2,Flat,2750,...,Tower Hamlets,2,4.177391,4018.0,no_data,Zone 2,A magnificent 2 bedroom 2 bathroom Apartment i...,3113.027566,0.883384,Limehouse
14359,14359,156428822,"2 bedroom apartment for rent in Branch Road, E14","Branch Road, E14",E14,7JY,2,2,Apartment,2595,...,Tower Hamlets,2,3.877793,26887.0,low,Zone 2,Favoured as the landlord sole agents Hurford S...,2824.875946,0.918624,Limehouse
14409,14409,155977679,"2 bedroom apartment for rent in Victory Place,...","Victory Place, E14",E14,8BQ,2,2,Apartment,2250,...,Tower Hamlets,2,4.013852,9098.0,medium-high,Zone 2,Hurford Salvi Carr are favoured as sole agents...,2352.211822,0.956547,Limehouse
15181,15181,156276122,"2 bedroom apartment for rent in Wharf Lane, Lo...","Wharf Lane, London, E14",E14,7HW,2,2,Apartment,2200,...,Tower Hamlets,2,4.086169,7153.0,medium-high,Zone 2,"Presenting a 5th floor 793 sq. ft. apartment, ...",2908.926996,0.756293,Limehouse
15380,15380,72506420,1 bedroom apartment for rent in Compass Point ...,Compass Point Grenande Street E14,E14,8HL,1,1,Apartment,1647,...,Tower Hamlets,2,4.323037,10424.0,high,Zone 2,Rubicon have pleasure in offering this excelle...,1995.300440,0.825440,Limehouse
16810,16810,156204509,"1 bedroom house for rent in Drake House, Victo...","Drake House, Victory Place, London, E14",E14,8BG,1,1,House,2000,...,Tower Hamlets,2,4.025186,9098.0,medium-high,Zone 2,MARINA VIEWS! Franklyn James are excited to pr...,1778.203969,1.124730,Limehouse
17026,17026,141066470,"2 bedroom penthouse for rent in Old Sun Wharf,...","Old Sun Wharf, 40 Narrow Street, E14",E14,8DG,2,2,Penthouse,3500,...,Tower Hamlets,2,3.821936,11518.0,high,Zone 2,Lovely 2 bedroom property in a desirable Limeh...,3308.715847,1.057812,Limehouse
18644,18644,155086622,"2 bedroom flat for rent in Narrow Street, E14,...","Narrow Street, E14, Canary Wharf, London, E14",E14,8BU,2,2,Flat,2900,...,Tower Hamlets,2,4.090412,4018.0,no_data,Zone 2,LONG LET. Spacious 2-bed flat with two double ...,2858.687748,1.014451,Limehouse
19225,19225,155769173,"1 bedroom flat for rent in Goodhart Place, Lon...","Goodhart Place, London, E14",E14,8EQ,1,1,Flat,1928,...,Tower Hamlets,2,3.907915,26887.0,low,Zone 2,Property Reference: 2307474.This large one-bed...,1941.932393,0.992826,Limehouse
20738,20738,154662050,"1 bedroom flat share for rent in Roche House, ...","Roche House, Beccles street, London, E14 8HE",E14,8HE,1,1,Flat Share,802,...,Tower Hamlets,2,4.272212,6524.0,high,Zone 2,Prime Land Property are pleased to offer this ...,887.803818,0.903353,Limehouse
21066,21066,152985263,"2 bedroom flat for rent in Coral Apartments, L...","Coral Apartments, Limehouse, London, E14",E14,7GL,1,2,Flat,2709,...,Tower Hamlets,2,4.072430,9098.0,medium-high,Zone 2,"SHORT LET. Set within a secure development, th...",3082.601405,0.878803,Limehouse
21501,21501,155427149,"2 bedroom apartment for rent in Berglen Court,...","Berglen Court, Branch Road, E14",E14,7JX,2,2,Apartment,2648,...,Tower Hamlets,2,3.836736,26054.0,high,Zone 2,This stylish modern development benefits from ...,2527.089866,1.047846,Limehouse
22191,22191,155572088,"2 bedroom flat for rent in Old Sailors House, ...","Old Sailors House, Limehouse, London, E14",E14,8HD,1,2,Flat,2000,...,Tower Hamlets,2,4.278861,6524.0,high,Zone 2,LONG LET. Set within a recently completed hous...,2264.851860,0.883060,Limehouse
23311,23311,156424925,"2 bedroom flat for rent in Narrow Street, Lond...","Narrow Street, London, E14",E14,8DP,2,2,Flat,2900,...,Tower Hamlets,2,3.719437,9254.0,high,Zone 2,Property Reference: 878875.We are proud to off...,2817.917066,1.029129,Limehouse
24988,24988,156175304,"2 bedroom flat for rent in Commercial Road, Li...","Commercial Road, Limehouse, London, E14",E14,7JR,2,2,Flat,2492,...,Tower Hamlets,2,3.873121,24790.0,medium-high,Zone 2,LONG LET. Spacious two bed flat with pristine ...,2500.294767,0.996682,Limehouse
25293,25293,156400196,"2 bedroom apartment for rent in Narrow Street,...","Narrow Street, E14",E14,8BZ,2,2,Apartment,2950,...,Tower Hamlets,2,3.971025,8776.0,no_data,Zone 2,Favoured as sole agents Hurford Salvi Carr are...,2588.530244,1.139643,Limehouse
25613,25613,153977768,"2 bedroom flat for rent in Grosvenor Court, 2 ...","Grosvenor Court, 2 Wharf Lane, London, E14",E14,7HW,2,2,Flat,2578,...,Tower Hamlets,2,4.097441,7153.0,medium-high,Zone 2,"Welcome toÂ GrosvenorÂ Court, East London, E14 7...",2817.222944,0.915086,Limehouse
25776,25776,107542070,"1 bedroom flat for rent in Narrow Street, Lond...","Narrow Street, London, E14",E14,8DP,1,1,Flat,1750,...,Tower Hamlets,2,3.774872,11518.0,high,Zone 2,A beautifully presented one bedroom apartment ...,1820.181116,0.961443,Limehouse
26555,26555,156276425,1 bedroom apartment for rent in Basin Approach...,"Basin Approach, London, E14",E14,7JB,1,1,Apartment,1950,...,Tower Hamlets,2,3.987965,9098.0,medium-high,Zone 2,A delightful furnished one bedroom apartment i...,2003.512977,0.973290,Limehouse
27067,27067,156080978,2 bedroom apartment for rent in Ionian Buildin...,"Ionian Building, Narrow Street, London, E14",E14,8DW,2,2,Apartment,2500,...,Tower Hamlets,2,3.799707,26054.0,high,Zone 2,This penthouse offers over 800 sq ft of livini...,2797.185765,0.893755,Limehouse
28065,28065,138765902,1 bedroom flat for rent in Ionian Building Nar...,Ionian Building Narrow Street E14,E14,8DW,1,1,Flat,1798,...,Tower Hamlets,2,3.801825,11518.0,high,Zone 2,This STUNNING ONE BEDROOM FURNISHED APARTMENT ...,1887.552819,0.952556,Limehouse
28146,28146,155770172,2 bedroom apartment for rent in Branch Road Lo...,Branch Road London E14,E14,7JY,2,2,Apartment,2700,...,Tower Hamlets,2,3.836587,26054.0,high,Zone 2,A fantastic opportunity to rent a premium sixt...,2688.119707,1.004420,Limehouse
28259,28259,156116639,2 bedroom apartment for rent in Ionian Buildin...,"Ionian Building, 45 Narrow Street, Limehouse, E14",E14,8DW,2,2,Apartment,2400,...,Tower Hamlets,2,3.799707,26054.0,high,Zone 2,This stunning apartment features spacious two ...,2797.185765,0.858005,Limehouse
28399,28399,155779322,"2 bedroom apartment for rent in Drake House, 4...","Drake House, 4 Victory Place, London, E14",E14,8BG,1,2,Apartment,2500,...,Tower Hamlets,2,4.012014,9098.0,medium-high,Zone 2,A bright two bedroom apartment situated on the...,2267.582627,1.102496,Limehouse

In [5]:
df["property_features"]

0        ['1080 sq ft' 'Dual Aspect Apartment' 'Three B...
1                                                       []
2        ['Stylish 2 bedroom flat' 'Large open-plan rec...
3        ['Brand New Apartment ' 'Indoor Parking '\n 'O...
4        ["Sought after location on Islington's trendy ...
                               ...
28483    ['One double bedroom' 'One bathroom' 'Second f...
28484                                                   []
28485    ['Two bedroom ground floor apartment'\n 'Priva...
28486    ['Newly Refurbished' 'High Ceilings' 'Balcony'...
28487                                  ['Communal garden']
Name: property_features, Length: 28488, dtype: object

In [6]:
def clean_property_features_to_json(raw):
    if pd.isna(raw) or str(raw).strip() in ["[]", ""]:
        return "[]"

    txt = str(raw).replace("\n", " ").strip()

    # Remove enclosing brackets and quotes artifacts
    txt = re.sub(r'[\[\]]', '', txt)

    # Ensure commas between adjacent quoted parts like: 'A' 'B' â†’ 'A','B'
    txt = re.sub(r"'\s*'", "', '", txt)

    # If ends with an open quote (e.g. 'Garage), close it
    if txt.count("'") % 2 != 0:
        txt += "'"

    # Remove redundant double quotes
    txt = txt.replace('"', '')

    # Split by single quotes and clean
    parts = [p.strip(" ,") for p in txt.split("'") if p.strip() and not p.strip().startswith(",")]

    # Normalize capitalization and remove duplicates
    cleaned = []
    for p in parts:
        if p and p not in cleaned:
            cleaned.append(p.strip().title())

    # Return valid JSON string list
    return json.dumps(cleaned, ensure_ascii=False)

In [7]:
df["property_features"] = df["property_features"].apply(clean_property_features_to_json)

In [8]:
s = df["added_on"].astype(str).str.strip()
df["added_on"] = s.str.slice(6, 10) + "-" + s.str.slice(3, 5) + "-" + s.str.slice(0, 2)

In [9]:
df["added_on"].value_counts()

added_on
2025-01-03    1569
2025-01-02    1565
2024-12-28    1028
2024-12-17     679
2024-12-10     663
              ...
2023-12-01       1
2023-03-28       1
2019-10-28       1
2023-01-03       1
2023-06-30       1
Name: count, Length: 546, dtype: int64

In [ ]:
df["added_on"].value_counts()

In [11]:
df["let_available_date"]

0               Now
1        11/01/2025
2         Ask agent
3               Now
4         Ask agent
            ...
28483           Now
28484           Now
28485           Now
28486     Ask agent
28487     Ask agent
Name: let_available_date, Length: 28488, dtype: object

In [15]:
df["listing_update_date"]

0        2024-12-30
1        2024-12-31
2        2024-11-20
3        2024-12-12
4        2024-12-10
            ...
28483    2024-12-11
28484    2024-12-02
28485    2024-12-16
28486    2024-08-01
28487    2024-12-03
Name: listing_update_date, Length: 28488, dtype: object

In [18]:
df = df.drop(columns="first_visible_date")

In [12]:
df = df.drop(columns="let_available_date")

In [22]:
df = df.drop(columns = "Unnamed: 0")

In [24]:
df.columns

Index(['id', 'title', 'display_address', 'postcode_outcode', 'postcode_incode',
       'bathrooms', 'bedrooms', 'property_type', 'price_gbp',
       'secondary_price_gbp', 'deposit_included_or_not', 'let_type',
       'furnish_type', 'council_tax_exempt', 'council_tax_included',
       'council_tax_band', 'property_features', 'listing_update_reason',
       'listing_update_date', 'added_on', 'size_sqft_min', 'size_sqft_max',
       'latitude', 'longitude', 'nearest_station1_name',
       'nearest_station2_name', 'nearest_station3_name',
       'nearest_station1_distance_km', 'nearest_station2_distance_km',
       'nearest_station3_distance_km', 'nearest_station1_type',
       'nearest_station2_type', 'nearest_station3_type', 'borough',
       'travel_zone', 'distance_to_center_km', 'spatial_index',
       'noise_level_class', 'zone_hex', 'description', 'predicted_price',
       'pricing_index', 'district'],
      dtype='object')

In [29]:
df.to_csv("/home/zcemg08/PycharmProjects/AI_DUBAI_CRYPTO_CLOUD/data/catboost_districts_added_on_v2.csv")

In [8]:
from pandasai import SmartDataframe

In [2]:
import pandas as pd

file = pd.read_csv(
    "/home/zcemg08/PycharmProjects/AI_DUBAI_CRYPTO_CLOUD/data/catboost_districts_added_on_v2.csv",
    parse_dates=["added_on", "listing_update_date"]
)

df_pai = pai.DataFrame(file)

In [4]:
df_ai = pai.create(
    path="new-bot/rental-data-london3",
    df=df_pai,
    description="London real estate property listings with pricing, size, location, station proximity, and noise levels",
    columns=[
        {"name": "id", "type": "string", "description": "Unique identifier for each property listing"},
        {"name": "title", "type": "string", "description": "Listing title"},
        {"name": "display_address", "type": "string", "description": "Readable address of the property"},
        {"name": "postcode_outcode", "type": "string", "description": "Outcode part of the UK postcode"},
        {"name": "postcode_incode", "type": "string", "description": "Incode part of the UK postcode"},
        {"name": "bathrooms", "type": "integer", "description": "Number of bathrooms"},
        {"name": "bedrooms", "type": "integer", "description": "Number of bedrooms"},
        {"name": "property_type", "type": "string", "description": "Type of property (flat, apartment, house, etc.)"},
        {"name": "price_gbp", "type": "float", "description": "Listed price in GBP"},
        {"name": "secondary_price_gbp", "type": "float", "description": "Secondary listing price (e.g. weekly rent) in GBP"},
        {"name": "deposit_included_or_not", "type": "string", "description": "Deposit included or (e.g "},
        {"name": "let_type", "type": "string", "description": "Letting type (short term, long term)"},
        {"name": "furnish_type", "type": "string", "description": "Furnishing type (furnished, unfurnished, part furnished)"},
        {"name": "council_tax_exempt", "type": "boolean", "description": "Whether council tax is exempt"},
        {"name": "council_tax_included", "type": "boolean", "description": "Whether council tax is included in rent"},
        {"name": "council_tax_band", "type": "string", "description": "Council tax band classification"},
        {"name": "property_features", "type": "string", "description": "Key features of the property stored as a JSON-style list of strings (e.g. [\"Balcony\", \"Parking\", \"Gym\"]). Each entry represents an amenity or characteristic such as balcony, garden, concierge, parking, or EPC rating."},
        {"name": "listing_update_reason", "type": "string", "description": "Reason for most recent listing update"},
        {"name": "listing_update_date", "type": "datetime", "description": "Date of the most recent listing update, formatted as YYYY-MM-DD (year-month-day)."},
        {"name": "added_on", "type": "datetime", "description": "Date the property was added to the platform, formatted as YYYY-MM-DD (year-month-day)."},
        {"name": "size_sqft_min", "type": "float", "description": "Minimum property size in square feet"},
        {"name": "size_sqft_max", "type": "float", "description": "Maximum property size in square feet"},
        {"name": "latitude", "type": "float", "description": "Latitude of the property"},
        {"name": "longitude", "type": "float", "description": "Longitude of the property"},
        {"name": "nearest_station1_name", "type": "string", "description": "Name of the nearest station"},
        {"name": "nearest_station2_name", "type": "string", "description": "Name of the second nearest station"},
        {"name": "nearest_station3_name", "type": "string", "description": "Name of the third nearest station"},
        {"name": "nearest_station1_distance_km", "type": "float", "description": "Distance to nearest station in km"},
        {"name": "nearest_station2_distance_km", "type": "float", "description": "Distance to second nearest station in km"},
        {"name": "nearest_station3_distance_km", "type": "float", "description": "Distance to third nearest station in km"},
        {"name": "nearest_station1_type", "type": "string", "description": "Type of nearest station (tube, national train, DLR, etc.)"},
        {"name": "nearest_station2_type", "type": "string", "description": "Type of second nearest station"},
        {"name": "nearest_station3_type", "type": "string", "description": "Type of third nearest station"},
        {"name": "borough", "type": "string", "description": "London borough of the property"},
        {"name": "travel_zone", "type": "string", "description": "London Travelcard zone"},
        {"name": "distance_to_center_km", "type": "float", "description": "Distance from property to central London (Charing Cross)"},
        {"name": "noise_level_class", "type": "string", "description": "Noise classification (low, medium, high, no_data)"},
        {"name": "description", "type": "string", "description": "Cleaned free-text property description"},
        {"name": "predicted_price", "type": "float",  "description": "Expected price in GBP predicted by a regression model using property features. Serves as a benchmark to compare against the actual listed price."},
        {"name": "pricing_index", "type": "float", "description": "If less than 1, the property is good value. If greater than 1, it is poor value."},
        {"name": "district","type": "string","description": "Neighbourhood or district within London where the property is located (e.g. Canary Wharf, Shoreditch)."}
    ]
)

Dataset saved successfully to path: new-bot/rental-data-london3

In [2]:
query = "Show me two bed properties in the Limehouse area under Â£2500 monthly"

data = load_pandas_ai_dataframe()
result = data.chat(query)

Dataset loaded successfully.

In [3]:
result.value

,id,title,display_address,postcode_outcode,postcode_incode,bathrooms,bedrooms,property_type,price_gbp,secondary_price_gbp,...,nearest_station2_type,nearest_station3_type,borough,travel_zone,distance_to_center_km,noise_level_class,description,predicted_price,pricing_index,district
0,152623520,"2 bedroom apartment for rent in Elite House, L...","Elite House, Limehouse, E14",E14,7PT,2,2,Apartment,2200,508,...,['TFL' 'NATIONAL_TRAIN'],['TFL'],Tower Hamlets,2,4.238487,medium-high,Available Now | Fully Furnished Located on an ...,2638.858920,0.833694,Mile End
1,156195431,"2 bedroom flat for rent in St. Annes Street, L...","St. Annes Street, Limehouse",E14,7QB,2,2,Flat,2249,519,...,['TFL' 'NATIONAL_TRAIN'],['TFL'],Tower Hamlets,2,4.255981,medium-high,Two double bedroom apartment in Birkdale House...,2513.243082,0.894860,Mile End
2,156409349,"2 bedroom flat for rent in St. Annes Street, L...","St. Annes Street, Limehouse",E14,7QB,2,2,Flat,2249,519,...,['TFL' 'NATIONAL_TRAIN'],['TFL'],Tower Hamlets,2,4.255981,medium-high,Two double bedroom apartment in Birkdale House...,2513.243082,0.894860,Mile End
3,106988477,2 bedroom flat for rent in Medland House Branc...,Medland House Branch Road Limehouse,E14,7JT,2,2,Flat,2349,542,...,['TFL'],['TFL'],Tower Hamlets,2,3.860804,low,The remarkably large living room has wooden fl...,2678.061458,0.877127,Limehouse
4,155700353,"2 bedroom flat for rent in Clyde Square, Limeh...","Clyde Square, Limehouse, E14 7TB â€“ 2 Bedrooms ...",E14,7TB,1,2,Flat,1907,440,...,['TFL'],['TFL' 'NATIONAL_TRAIN'],Tower Hamlets,2,4.362581,high,Located in a desirable area with excellent acc...,2255.936616,0.845325,Mile End
5,154954064,"2 bedroom flat for rent in Three colt Street, ...","Three colt Street, Limehouse, E14",E14,8AP,1,2,Flat,2500,577,...,['TFL'],['TFL' 'NATIONAL_TRAIN'],Tower Hamlets,2,4.220649,medium,We are pleased to offer this brand two bedroom...,2584.231560,0.967406,Limehouse
6,156397121,2 bedroom apartment for rent in Flamborough Wa...,"Flamborough Walk, Limehouse",E14,7LY,1,2,Apartment,2500,577,...,['TFL'],['TFL'],Tower Hamlets,2,3.858078,medium-high,Dawn Sandoval Residential are delighted to off...,2475.079036,1.010069,St. Dunstan's
7,153513614,"2 bedroom maisonette for rent in Burdett Road,...","Burdett Road, E14, Limehouse, London, E14",E14,7AB,1,2,Maisonette,2250,519,...,['TFL' 'NATIONAL_TRAIN'],['TFL'],Tower Hamlets,2,4.310272,medium-high,LONG LET. This gorgeous 2 bedroom duplex boast...,2251.779300,0.999210,Mile End
8,155375138,"2 bedroom flat for rent in Narrow Street, Lime...","Narrow Street, Limehouse",E14,8DP,2,2,Flat,2448,565,...,['TFL'],['TFL'],Tower Hamlets,2,3.781559,high,Ea2 are pleased to offer for let this generous...,2764.568673,0.885491,Limehouse
9,155822528,2 bedroom apartment for rent in Caspian Apartm...,"Caspian Apartments, Salton Square, Limehouse, E14",E14,7GJ,1,2,Apartment,2000,462,...,['TFL'],['TFL'],Tower Hamlets,2,4.042510,medium-high,Available immediately for rent is this luxurio...,2227.212498,0.897983,Mile End
10,155855300,"2 bedroom flat for rent in Ben Jonson Road, Li...","Ben Jonson Road, Limehouse, London, E1",E1,4GJ,2,2,Flat,2427,560,...,['TFL'],['TFL'],Tower Hamlets,2,4.019454,no_data,A two bedroom apartment set within the heart o...,2470.084896,0.982557,St. Dunstan's
11,155300630,"2 bedroom apartment for rent in Elite House, L...","Elite House, Limehouse, E14",E14,7PT,2,2,Apartment,2100,485,...,['TFL' 'NATIONAL_TRAIN'],['TFL'],Tower Hamlets,2,4.238543,medium-high,Available December | Fully FurnishedLocated on...,2580.392438,0.813830,Mile End
12,155973020,"2 bedroom flat for rent in Repton Street, Lime...","Repton Street, Limehouse, London, E14",E14,7FR,1,2,Flat,2024,467,...,['TFL'],['TFL'],Tower Hamlets,2,4.031603,no_data,LONG LET. A stylish 2 bedroom apartment set on...,2174.994347,0.930577,St. Dunstan's
13,155572088,"2 bedroom flat for rent in Old Sailors House, ...","Old Sailors House, Limehouse, London, E14",E14,8HD,1,2,Flat,2000,462,...,['TFL'],['TFL' 'NATIONAL_TRAIN'],Tower Hamlets,2,4.278861,high,LONG LET. Set within a recently completed hous...,2264.851860,0.883060,Limehouse
14,156175304,"2 bedroom flat for rent in Commercial Road, Li...","Commercial Road, Limehouse, London, E14",E14,7JR,2,2,Flat,2492,575,...,['TFL'],['TFL'],Tower Hamlets,2,3.873121,medium-high,LONG LET. Spacious two bed flat with pristine ...,2500.294767,0.996682,Limehouse
15,155575538,2 bedroom flat for rent in East India Dock Roa...,"East India Dock Road, Poplar,Limehouse,East Lo...",E14,0EG,1,2,Flat,1895,437,...,['TFL'],['TFL'],Tower Hamlets,2,5.033882,high,This delightful first-floor flat is offered in...,2006.137497,0.944601,Lansbury
16,154036244,"2 bedroom flat for rent in Keymer Place, Limeh...","Keymer Place, Limehouse, London, E14",E14,7RB,2,2,Flat,2200,508,...,['TFL' 'NATIONAL_TRAIN'],['TFL'],Tower Hamlets,2,4.254865,high,Property Reference: 2312004.*Viewings to be he...,2617.882470,0.840374,Mile End
17,156116639,2 bedroom apartment for rent in Ionian Buildin...,"Ionian Building, 45 Narrow Street, Limehouse, E14",E14,8DW,2,2,Apartment,2400,554,...,['TFL'],['TFL'],Tower Hamlets,2,3.799707,high,This stunning apartment features spacious two ...,2797.185765,0.858005,Limehouse

In [4]:
query = "Show me on the map the top ten properties that are good value for money in the Limehouse area"

data = load_pandas_ai_dataframe()
result = data.chat(query)

result.value

Dataset loaded successfully.

,id,title,display_address,postcode_outcode,postcode_incode,bathrooms,bedrooms,property_type,price_gbp,secondary_price_gbp,...,nearest_station2_type,nearest_station3_type,borough,travel_zone,distance_to_center_km,noise_level_class,description,predicted_price,pricing_index,district
0,156276122,"2 bedroom apartment for rent in Wharf Lane, Lo...","Wharf Lane, London, E14",E14,7HW,2,2,Apartment,2200,508,...,['TFL' 'NATIONAL_TRAIN'],['TFL'],Tower Hamlets,2,4.086169,medium-high,"Presenting a 5th floor 793 sq. ft. apartment, ...",2908.926996,0.756293,Limehouse
1,129235667,"3 bedroom house for rent in Milligan Street, L...","Milligan Street, London, E14",E14,8AT,3,3,House,3250,750,...,['TFL'],['TFL'],Tower Hamlets,2,4.259671,medium,Nathan Andrews Estates are pleased to present ...,4202.203366,0.773404,Limehouse
2,90878284,"2 bedroom flat for rent in Dundee Wharf, 100 T...","Dundee Wharf, 100 Three Colt Street, London, E14",E14,8AY,2,2,Flat,2400,554,...,['TFL'],['TFL' 'NATIONAL_TRAIN'],Tower Hamlets,2,4.140615,no_data,"Rare to the market, this penthouse floor (6th)...",3021.432348,0.794325,Limehouse
3,154931312,4 bedroom apartment for rent in Trinidad House...,"Trinidad House, Gill Street, London, E14",E14,8AF,1,4,Apartment,2500,577,...,['TFL'],['TFL' 'NATIONAL_TRAIN'],Tower Hamlets,2,4.275212,medium,"Four Bedroom Flat to Rent - Westferry, E14Rent...",3032.011070,0.824535,Limehouse
4,152293322,3 bedroom apartment for rent in Barleycorn Way...,"Barleycorn Way, Canary Wharf, London, E14",E14,8DE,1,3,Apartment,2750,635,...,['TFL' 'NATIONAL_TRAIN'],['TFL'],Tower Hamlets,2,4.183348,medium,Open Plan Modern Apartment - Allocated Parking...,3334.359637,0.824746,Limehouse
5,72506420,1 bedroom apartment for rent in Compass Point ...,Compass Point Grenande Street E14,E14,8HL,1,1,Apartment,1647,380,...,['TFL'],['TFL' 'NATIONAL_TRAIN'],Tower Hamlets,2,4.323037,high,Rubicon have pleasure in offering this excelle...,1995.300440,0.825440,Limehouse
6,155776937,"2 bedroom flat for rent in Grenade Street, E14","Grenade Street, E14",E14,8HX,2,2,Flat,2499,577,...,['TFL'],['TFL' 'NATIONAL_TRAIN'],Tower Hamlets,2,4.328823,high,"A beautifully refurbished top-floor 2-bedroom,...",2935.468179,0.851312,Limehouse
7,156116639,2 bedroom apartment for rent in Ionian Buildin...,"Ionian Building, 45 Narrow Street, Limehouse, E14",E14,8DW,2,2,Apartment,2400,554,...,['TFL'],['TFL'],Tower Hamlets,2,3.799707,high,This stunning apartment features spacious two ...,2797.185765,0.858005,Limehouse
8,106988477,2 bedroom flat for rent in Medland House Branc...,Medland House Branch Road Limehouse,E14,7JT,2,2,Flat,2349,542,...,['TFL'],['TFL'],Tower Hamlets,2,3.860804,low,The remarkably large living room has wooden fl...,2678.061458,0.877127,Limehouse
9,152985263,"2 bedroom flat for rent in Coral Apartments, L...","Coral Apartments, Limehouse, London, E14",E14,7GL,1,2,Flat,2709,625,...,['TFL'],['TFL'],Tower Hamlets,2,4.072430,medium-high,"SHORT LET. Set within a secure development, th...",3082.601405,0.878803,Limehouse

In [5]:
from prompts.tool_prompts import format_query_with_table_output

In [6]:
query = format_query_with_table_output("how is london property market this year?")
# query = "how is london property market this year?"
data = load_pandas_ai_dataframe()
result = data.chat(query)

result.value

Dataset loaded successfully.

,id,title,display_address,postcode_outcode,postcode_incode,bathrooms,bedrooms,property_type,price_gbp,secondary_price_gbp,...,nearest_station2_type,nearest_station3_type,borough,travel_zone,distance_to_center_km,noise_level_class,description,predicted_price,pricing_index,district
0,156003995,3 bedroom end of terrace house for rent in Den...,"Denecroft Crescent, Uxbridge, UB10",UB10,9HU,1,3,End of Terrace,2300,531,...,['TFL'],['TFL'],Hillingdon,6,13.934606,no_data,A well presented 3 bedroom family home.Feature...,2099.323922,1.095591,Hillingdon East
1,156439001,1 bedroom flat for rent in Skyline Plaza Build...,"Skyline Plaza Building, 80 Commercial Road, Lo...",E1,1NZ,1,1,Flat,2000,462,...,['TFL'],['TFL'],Tower Hamlets,2,2.705761,high,Location is key - Super 1 bedroom flat in the ...,2127.473785,0.940082,Whitechapel
2,146744579,"1 bedroom flat for rent in Thames Road, London...","Thames Road, London, E16",E16,2ZG,1,1,Flat,1800,415,...,['TFL'],['TFL'],Newham,3,7.220838,high,A FANTASTIC ONE BEDROOM PROPERTY COMING AVAILA...,1790.373975,1.005377,Royal Docks
3,155344475,"4 bedroom flat for rent in Beechmont, Avenue W7","Beechmont, Avenue W7",W7,3AE,1,4,Flat,2900,669,...,['NATIONAL_TRAIN'],['NATIONAL_TRAIN'],Ealing,4,9.315814,no_data,We are delighted to present this beautifully m...,2672.720211,1.085037,Hobbayne
4,156567182,"3 bedroom apartment for rent in Parkside, SE17",Parkside,SE17,1LJ,2,3,Apartment,4030,930,...,['TFL'],['TFL'],Southwark,2,1.699239,high,Weâ€™re thrilled to introduce these brand-new st...,3880.374529,1.038560,North Walworth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4145,156407786,3 bedroom penthouse for rent in Cityview Point...,"Cityview Point, London, E14",E14,0XT,2,3,Penthouse,2950,681,...,['TFL'],['TFL'],Tower Hamlets,2/3,5.314683,no_data,"Property Reference: 2337420.3 Bed Penthouse, C...",4015.841531,0.734591,Lansbury
4146,155964077,"1 bedroom apartment for rent in Dawson Close, ...","Dawson Close, Hayes, Middlesex, UB3",UB3,2RH,1,1,Apartment,1300,300,...,['NATIONAL_TRAIN'],['TFL'],Hillingdon,5,13.212338,medium-high,Lawlors present this large one bedroom ground ...,1304.988410,0.996177,Botwell
4147,156417974,"2 bedroom flat for rent in Arlow Road, Winchmo...","Arlow Road, Winchmore Hill N21",N21,3JU,1,2,Flat,1750,404,...,['NATIONAL_TRAIN'],['NATIONAL_TRAIN'],Enfield,4,8.591336,no_data,Addison Townsend are pleased to present this f...,1905.911451,0.918196,Winchmore Hill
4148,156416444,3 bedroom maisonette for rent in Windmill Clos...,"Windmill Close, \nBermondsey, SE1",SE1,5BJ,2,3,Maisonette,3250,750,...,['NATIONAL_TRAIN'],['TFL'],Southwark,2,2.914049,medium-high,A spacious maisonette arranged over 2 floors. ...,3369.471244,0.964543,South Bermondsey
4149,151277036,2 bedroom apartment for rent in Ossulton Way L...,Ossulton Way London N2,N2,0JS,1,2,Apartment,1950,450,...,['TFL'],['TFL'],Barnet,3,6.219508,medium-high,"The property has two double bedrooms, living r...",1993.341025,0.978257,Garden Suburb